.sub-bar
  .hi
    %h1.hi__name
      ddd
    %ul.hi__lists
      %li.list
        =link_to '#' do
          = fa_icon 'pencil-square-o', class: 'icon'
      %li.list
        =link_to '#' do
          = fa_icon 'cog', class: 'icon'

  .groups
    .group
      .group_name
        グループ
      .group_message
        メッセージ
    .group
      .group_name
        グループ
      .group_message
        メッセージ
    .group
      .group_name
        グループ
      .group_message 
        メッセージ